Some links for searching for Capstone datasets and ideas. Do add on to the list!
Medium blog post on datasets
https://towardsdatascience.com/top-sources-for-machine-learning-datasets-bb6d0dc3378b
Google Dataset Search
https://toolbox.google.com/datasetsearch
Kaggle Competition and Datasets
https://www.kaggle.com/competitions
https://www.kaggle.com/datasets
datadriven
https://www.drivendata.org/competitions/
Awesome Public Datasets and Project Ideas
https://github.com/awesomedata/awesome-public-datasets
https://github.com/NirantK/awesome-project-ideas#text
UCI Machine Learning Repository
https://archive.ics.uci.edu/ml/index.php
Data from fivethirtyeight
https://data.fivethirtyeight.com/
datasetlist
https://www.datasetlist.com/
lionbridge
https://lionbridge.ai/datasets/the-50-best-free-datasets-for-machine-learning/
yelp dataset
https://www.yelp.com/dataset
image
https://hackernoon.com/rare-datasets-for-computer-vision-every-machine-learning-expert-must-work-with-2ddaf52ad862
natural language processing
https://github.com/niderhoff/nlp-datasets
https://www.kdnuggets.com/2020/02/big-bad-nlp-database.html
recommender systems
https://github.com/chihming/competitive-recsys
http://cseweb.ucsd.edu/~jmcauley/datasets.html
data from LTA
https://www.mytransport.sg/content/mytransport/home/dataMall/static-data.html
https://www.mytransport.sg/content/mytransport/home/dataMall/dynamic-data.html
:thankyou:
1

# Problem statement 

No business can survived without customer


Twitter1
is a micro-blogging site that allows
users to write textual entries (‘tweets’) of up to
140 characters.

In [1]:
import re
import pandas as pd
import numpy as np
import string
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

from termcolor import colored

# Import the datasets

In [2]:
df_all_twitter = pd.read_csv('./datasets/twcs.csv')

In [3]:
# Define function for basic eda
# df.info can indicate null values, if any, so shall we keep null value function ?

def data_explore(df):
    #First two rows
    print("First two rows of data:")
    display(df.head())
    print()
    # Print shape of dataframe
    print(colored(f"Shape: {df.shape}",'blue',attrs=['bold']))
    print()
    # Print datatypes
    print(colored("Columns & Datatypes: ",'blue',attrs=['bold']))
    df.info()
    print()
    # Check for null values
    print(colored("Null values:",'blue',attrs=['bold']))
    if df.isnull().values.any() == False:
        print("None in Dataframe.")
    else:
        for col in df:
            print(f"{col}:{df[col].isnull().sum()}")
    print()
    # Count of distinct values
    print(colored("Unique values (by Columns)",'blue',attrs=['bold']))
    for col in df:
        print(f"{col}:{len(df[col].unique().tolist())}")
    print()
    # Inform if there are duplicates, if any
    if df.duplicated(subset=None, keep='first').any() == False:
        print("No duplicates present.")
    else:
        dup = df[df.duplicated(subset=None, keep='first')]
        print(f"{len(dup)} duplicates in {len(df)} rows.")

In [4]:
data_explore(df_all_twitter)

First two rows of data:

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

Shape: (2811774, 7)

Columns & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811774 entries, 0 to 2811773
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tweet_id                 int64
 1   author_id                object
 2   inbound                  bool
 3   created_at               object
 4   text                     object
 5   response_tweet_id        object
 6   in_response_to_tweet_id  float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 131.4+ MB

Null values:
tweet_id:0
author_id:0
inbound:0
created_at:0
text:0
response_tweet_id:1040629
in_response_to_tweet_id:794335

Unique values (by Columns)
tweet_id:2811774
author_id:702777
inbound:2
created_at:2061666
text:2782618
response_tweet_id:1771146
in_response_to_tweet_id:1774823

No duplicates present.

In [5]:
df_amazon= df_all_twitter[df_all_twitter.author_id=='AmazonHelp']

In [8]:
#df_apple= df_all_twitter[df_all_twitter.author_id=='AppleSupport']

In [10]:
#time series, EDA how many post per month , how many tweet has been response

In [ ]:
#vader , sentiment

In [ ]:
#data_explore(df_apple)

In [6]:
df_amazon_en = df_amazon.copy()
#df_apple_en = df_apple.copy()

In [12]:
df_amazon_en.reset_index(drop=True,inplace= True)
#df_apple_en.reset_index(drop=True,inplace= True)

In [13]:
df_amazon_en.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,269,AmazonHelp,False,Wed Nov 22 09:23:01 +0000 2017,@115770 こんにちは、アマゾン公式です。Fire TV Stickが見れないというのは...,"270,271",272.0
1,273,AmazonHelp,False,Wed Nov 22 09:40:27 +0000 2017,@115770 カスタマーサービスにてお問い合わせ済みとのことで、お手数をおかけいたしました...,274,271.0
2,275,AmazonHelp,False,Wed Nov 22 10:06:26 +0000 2017,@115770 恐れ入ります。至らない点も多々あるかとは存じますが、今後ともどうぞよろしくお...,NaN,274.0
3,324,AmazonHelp,False,Wed Nov 22 09:06:00 +0000 2017,@115792 ご不便をおかけしております。アプリをご利用でしょうか。強制停止&gt;端末の...,NaN,325.0
4,615,AmazonHelp,False,Tue Oct 31 22:29:00 +0000 2017,@115820 I'm sorry we've let you down! Without ...,616,617.0

## Firstly filter out non english tweet in amazon

realize that  Amazonhelp also support other langauges

In [7]:
#I will need the request from the tweeter users to the AmazonHelp
amazon_mixed = df_all_twitter.loc[(df_all_twitter.inbound==True)& (df_all_twitter.text.str.contains('@AmazonHelp'))]

In [8]:
#reset the index of the new dateframe 
amazon_mixed=amazon_mixed.reset_index(drop=True)

In [9]:
amazon_mixed.head(10)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,270,115770,True,Wed Nov 22 09:24:30 +0000 2017,@AmazonHelp ありがとうございます。\n今、電話で主人が対応していただいてます。,NaN,269.0
1,271,115770,True,Wed Nov 22 09:30:36 +0000 2017,@AmazonHelp 電話で対応してもらいましたが改良されませんでした。\n保証期間も過ぎ...,273,269.0
2,274,115770,True,Wed Nov 22 09:44:04 +0000 2017,@AmazonHelp こちらこそありがとうございました。,275,273.0
3,616,115820,True,Tue Oct 31 23:22:08 +0000 2017,@AmazonHelp 3 different people have given 3 di...,618,615.0
4,619,115820,True,Tue Oct 31 23:32:26 +0000 2017,@AmazonHelp I frankly don't have the patience ...,NaN,618.0
5,623,115824,True,Tue Oct 31 22:32:07 +0000 2017,"@AmazonHelp Okay, danke für die Info",625,622.0
6,627,115827,True,Wed Nov 01 12:50:18 +0000 2017,@AmazonHelp @115826 Yeah this is crazy we’re l...,629,626.0
7,634,115831,True,Tue Oct 31 21:39:58 +0000 2017,@115821 @AmazonHelp why is my order at my loca...,633,NaN
8,638,115834,True,Tue Oct 31 22:19:56 +0000 2017,@AmazonHelp Hi ready for some help,637,639.0
9,640,115834,True,Tue Oct 31 01:03:01 +0000 2017,@AmazonHelp Is the Echo Show no longer supported?,639,641.0

In [10]:
#define a function to filiter out non english tweet on Amazon
#fliter non english 

#define a function to filiter out non english tweet on Amazon 
def non_eng(dframe):
    y = 0
    for _ in dframe['text']:
        if re.search('[^\x00-\x7F]',dframe['text'][y]) == None:    # [^\x00-\x7F] is to filter non ascii 
            y = y+1
        else:
            dframe.drop(index = y, inplace = True)
            y = y+1 
            continue
    dframe.reset_index(drop=True, inplace=True)

In [11]:
#before apply the non_eng function, reassign the english only dateframe as amazon_en_request
amazon_en_request = amazon_mixed.copy()

In [12]:
#check the shape before filtering out the non english tweets
amazon_en_request.shape

(134725, 7)

In [14]:
#apply the function to filter non eng tweet
#non_eng(amazon_en_request)

In [ ]:
#shape after filtering the non eng tweet
amazon_en_request.shape

In [ ]:
amazon_en_request.head()

In [ ]:
#export to csv, avoid runing the non english function every time
amazon_en_request.to_csv('./datasets/amazon_en.csv', index=False)